<div>
    <h2>{{header}}</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div>
            <label for="">Id</label> 
            <input type="text" [ngModel]='person.id' name='id'>
        </div>
        <div>
            <label for="">First Name</label> 
            <input type="text" [ngModel]='person.firstName' name='firstName'>
        </div>
        <div>
            <label for="">Last Name</label> 
            <input type="text" [ngModel]='person.lastName' name='lastName'>
        </div>
        <div>
            <button type='submit'>Zapisz</button>
        </div>
    </form>
</div>
